$color-red: #ff3040;
$color-green: #35cb36;
$color-blue: #0095f6;
$color-grey: #737373;
$color-dark: #262626;
$color-black: #000;
$color-grey-light-0: #efefef;
$color-grey-light-1: #eaeaea;
$color-grey-light-2: #dbdbdb;
$color-white: #fff;

$max-width-lg: 78.75em;
$max-width-md: 78.75em;

$sidebar-width: 24.4rem;
$main-width: calc(100vw - $sidebar-width);

// Avatar
$avatar-size-lg: 5.6rem;
$avatar-size-md: 4.4rem;
$avatar-size-sm: 3.2rem;
$avatar-wrapper-size-lg: 6.6rem;
$avatar-wrapper-size-md: 4.2rem;
