@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.link {
  @include generic-link;
  color: $color-dark;
}

.link.user {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: start;
}
